div.adwrapper { width: 100%; }
ins.responsive-xs { display: block; width: 336px; height: 280px; margin-left: -55px; }
ins.responsive-sm { display: none; height: 60px; width: 468px; margin: 0 auto; }
ins.responsive-md { display: none; height 60px; width: 468px; margin: 0 auto; }
ins.responsive-lg { display: none; height: 90px; width: 728px; margin: 0 auto; }
ins.responsive-lg.right { height: 600px; width: 120px; position: absolute; top: 100px; right: 0; margin: 0; }
ins.responsive-xl { display: none; height: 90px; width: 970px; margin: 0 auto; }
ins.responsive-xl.right { height: 600px; width: 160px; position: absolute; top: 100px; right: 0; margin: 0; }

@media(min-width: 576px) {
    ins.responsive-xs { display: none; }
    ins.responsive-sm { display: block; }
}

@media(min-width: 768px) {
    ins.responsive-sm { display: none; }
    ins.responsive-md { display: block; }
}

@media(min-width: 992px) {
    ins.responsive-md { display: none; }
    ins.responsive-lg { display: block; }
}

@media(min-width: 1200px) {
    ins.responsive-lg { display: none; }
    ins.responsive-xl { display: block; }
}
