<style>
ins.inline { display: block; width: 336px; height: 280px; margin-left: -55px; }
@media(min-width: 561px) { ins.inline { margin: 0 auto; } }
@media(min-width: 768px) {
    ins.inline { width: 728px; height: 90px; margin-left: -50px; }
}
@media(max-width: 991px) { ins.right { display: none; } }
@media(min-width: 992px) {
    ins.inline { width: 336px; height: 280px; margin: 0 auto; }
    ins.right { display: block; height: 600px; width: 120px; margin: 0; position: fixed; top: 100px; right: 0; }
}
@media(min-width: 1200px) {
    ins.inline { width: 728px; height: 90px; margin-left: -35px; }
}
@media(min-width: 1355px) {
    ins.right { height: 600px; width: 300px; }
}
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TheWizardsManse Responsive Ads -->
<ins class="adsbygoogle inline"
     data-ad-client="ca-pub-8600046037791786"
     data-ad-slot="3462697759"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TheWizardsManse Responsive Ads -->
<ins class="adsbygoogle right"
     data-ad-client="ca-pub-8600046037791786"
     data-ad-slot="3462697759"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<hr/>
