<style>
div.adwrapper { width: 100%; }
ins.responsive { width: 336px; height: 280px; margin-left: -55px; }
@media(min-width: 561px) { ins.responsive { height: 60px; width: 468px; margin: 0 auto; } }
@media(min-width: 992px) { ins.responsive { height: 600px; width: 120px; margin: 0; position: fixed; top: 100px; right: 0; } }
@media(min-width: 1200px) { ins.responsive { height: 600px; width: 160px; } }
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TheWizardsManse Responsive Ads -->
<div class="adwrapper">
<ins class="adsbygoogle responsive"
     style="display:block"
     data-ad-client="{{ .Site.Params.DataAdClient }}"
     data-ad-slot="{{ .Site.Params.DataAdSlot }}"
     data-ad-format="auto"></ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<hr/>
