  <div class="widget-wrap">
    <h3 class="widget-title">Advertisement</h3>
    <div class="widget">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- TheWizardsManse Responsive Ads -->
      <ins class="adsbygoogle"
           style="display:block;width:300px;height:600px;"
           data-ad-client="ca-pub-8600046037791786"
           data-ad-slot="3462697759"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
